/* Main CSS properties */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2b283a;
  margin: 0;
}

header,
footer,
section {
  padding: 45px 0;
}

.container {
  width: 620px;
  margin: 0 auto;
}

header,
.sectiontwo {
  background-color: #5f29a3;
}

.imgcont {
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: 16px;
  color: #5f29a3;
  text-align: center;
}

p {
  line-height: 23px;
}

/* Headings throughout site */
h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  color: whitesmoke;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}

/* Images */

.sneakerimg {
  width: 100%;
}

.sectiontwoimgs {
  width: 300px;
  border-radius: 4.6px;
}

/* Sections */

.sectiontwo {
  color: whitesmoke;
}

/* Links */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/* Button CSS */

.navbtn {
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
}

.navbtnabout {
  background-color: whitesmoke;
  color: #5f29a3;
}

.navbtnbuy {
  background-color: #5f29a3;
  color: whitesmoke;
}

.navbtninfo,
.navbtncont {
  background-color: #d0aaff;
  color: #5f29a3;
}

.navbtn:hover,
.navbtn:active {
  color: #2b283a;
  background-color: #d4b44c;
}
